/* Resetting website so that it can be be applied to different websites */
*{
    margin: 0; 
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header
{
    position: sticky;
    top: 0;
    background-color: #011C40;
    color: #A7EBF2;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

footer
{
    background-color: #011C40;
    color: #A7EBF2;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
#footerlinks
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

body
{
    background-color: #A7EBF2;
    text-align: center;
}

h1
{
    margin: 10px;
    color: #011C40;
    text-align: left;
}
#welcomeMessage
{
    margin: 10px;
    padding: 20px;  
    color: #A7EBF2;
    text-align: center;
    background-color: #011C40;
    border-radius: 20px;
}
#welcomeMessage h1
{
    color: #A7EBF2;
    text-align: center;
}
/* Style for the map container */
#map {
    margin: 20px; 
    height: 350px;
    width: auto; /*Automatically sets the width depending on the person screen which helps with mobile devices*/
    border-radius: 20px;
}

/* Style for weaather card */
.LocCard
{
    border: 1px solid #26658C;
    border-radius: 15px;
    width:  250px;
    height: 150px;
    padding: 10px;
    margin: 15px;


    background-color: #26658C;
    color: #A7EBF2;
}
/* Button style */
#selectArea
{
    margin: 20px;
    padding: 15px;
    border: 1px solid ;
    border-radius: 50px;
    background-color: #26658C;
    color: #A7EBF2;
}
#selectArea:hover
{
    transition: 0.5s;
    margin: 20px;
    padding: 15px;
    border: 1px solid #011C40;
    background-color: #011C40;
    color: #A7EBF2;
}

#deleteBtn
{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #011C40;
    border-radius: 50px;
    background-color: #011C40;
    color: #A7EBF2;
}
#deleteBtn:hover
{
    transition: 0.5s;
    border: #A7EBF2 1px solid;
    background-color: #A7EBF2;
    color: #011C40;
}
/* This is where the weather card information will be displayed. It also centers them */
#weatherInformation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#icon
{
    margin-top: 15px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: #26658C;
    color: #A7EBF2;
    border-radius: 50%;
}
#icon:hover
{
    margin-top: 15px;
    padding: 5px;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    background-color: #A7EBF2;
    border-radius: 50%;
}